<div id="page-container">
  <div id="content-wrap">
    <app-upper-bar></app-upper-bar>
    <div class="container">
      <h3>Tarea</h3>
      <div class="container">
        <table class="table table-striped">
          <tbody>
            <tr>
              <td class="text-center"><b>Título</b></td>
            </tr>
            <tr>
              <td>{{task.title}}</td>
            </tr>
            <tr>
              <td class="text-center"><b>Enunciado</b></td>
            </tr>
            <tr>
              <td>{{task.statement}}</td>
            </tr>
            <tr>
              <td class="text-center"><b>Forma de trabajo</b></td>
            </tr>
            <tr>
              <td *ngIf="task.typeIdentity == 1">Individual</td>
              <td *ngIf="task.typeIdentity == 2">En equipo</td>
            </tr>
            <tr>
              <td class="text-center"><b>Tipo de trabajo</b></td>
            </tr>
            <tr>
              <td *ngIf="task.typeIdentity == 1">Desarrollo</td>
              <td *ngIf="task.typeIdentity == 2">Test</td>
            </tr>  
            <tr>
              <td class="text-center"><b>Entrega reviews</b></td>
            </tr>
            <tr>
              <td>{{scheduleTime.revision}}</td>
            </tr>            
            <tr>
              <td class="text-center"><b>Entrega reviews finales</b></td>
            </tr>
            <tr>
              <td>{{scheduleTime.finalRevision}}</td>
            </tr>
            <tr>
              <td class="text-center"><b>Entrega reviews finales</b></td>
            </tr>
            <tr>
              <td>{{scheduleTime.finalRevision}}</td>
            </tr>
            <tr>
              <td class="text-center"><b>Número de revisiones</b></td>
            </tr>
            <tr>
              <td><b>{{task.reviews}}</b></td>
            </tr>
          </tbody>
        </table>
      </div>

      <div *ngIf="task.typeIdentity == 2">
        <h3>Mi equipo</h3>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Apellido</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of team.users">
              <td>{{ user.firstName }}</td>
              <td>{{ user.lastName }}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="container">
        <h2>Lista de comentarios</h2>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Acción</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let comment of comments; let i = index">
              <td>Comentario {{ i + 1 }}</td>
              <td>
                <button (click)="goToCreateComment(comment.id)" class="btn btn-info"> Completar</button>
                <button (click)="goToCreateCommentFinal(comment.id)" class="btn btn-info"> Completar final</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
  <app-bottom-bar></app-bottom-bar>
</div>
