<div id = "page-container">
    <div id = "content-wrap">
        <app-upper-bar></app-upper-bar>
        <div class = "container">
            <h3> Detalles de usuario </h3>            
            <div class= "container">
                <table class = "table table-striped">
                    <tbody>
                    <tr>
                        <td><b>Nombre</b></td><td>{{user.firstName}}</td>
                    </tr>
                    <tr>
                        <td><b>Apellidos</b></td><td>{{user.lastName}}</td>
                    </tr>
                    <tr>
                        <td><b>Email</b></td><td>{{user.email}}</td>
                    </tr>

                    <tr *ngIf = "me == id">
                        <td><b>Contraseña</b></td><td><form class="custom-form">
                        
                            <input
                            type="password"
                            [(ngModel)]="user.hash"
                            name="password"
                            placeholder="Contraseña nueva"
                            required="required"
                            />
                            <button type="submit" (click)="changePassword()">Cambiar</button>
                        </form></td>
                    </tr>
                    <tr>
                        <td><b>Tipo de usuario</b></td>
                        <td *ngIf = "user.typeUser == 1">Alumno</td>
                        <td *ngIf = "user.typeUser == 2">Profesor</td>
                        <td *ngIf = "user.typeUser == 111">Admin</td>
                    </tr>
                </tbody>
                </table>
            </div>
            <h3> Notas medias </h3> 
            <div class="container">
                <div class="form-group">
                    <b>Nota de entrega:</b> <p>{{medTask}}</p>
                  </div>
                  <div class="form-group">
                    <b>Nota de comentarios:</b> <p>{{medComments}}</p>
                  </div>
              </div>
        </div>
    </div>
    <app-bottom-bar></app-bottom-bar>
</div>