<div id = "upper_bar">
<nav class="navbar navbar-expand-sm bg-primary navbar-dark" *ngIf="rol == 111">
  <ul class="navbar-nav me-auto">
    <li class="nav-item">
      <a (click)="goToGroups()" routerLinkActive="active" class="nav-link">Lista de grupos</a>
    </li>
    <li class="nav-item">
      <a (click)="goToCreateGroup()" routerLinkActive="active" class="nav-link">Crear grupo</a>
    </li>
    <li class="nav-item">
      <a (click)="goToUsers()" routerLinkActive="active" class="nav-link">Lista de usuarios</a>
    </li>
    <li class="nav-item">
      <a (click)="goToCreateUser()" routerLinkActive="active" class="nav-link">Crear usuario</a>
    </li>
  </ul>
  <ul class="navbar-nav ms-auto">
    <li class="nav-item">
      <a (click)="logOut()" routerLinkActive="active" class="nav-link">Cerrar sesión</a>
    </li>
  </ul>
</nav>
<nav class="navbar navbar-expand-sm bg-primary navbar-dark" *ngIf="rol == 1">
  <ul class="navbar-nav me-auto">
    <li class="nav-item">
      <a (click)="myDetails(id)" routerLinkActive="active" class="nav-link">Mi perfil</a>
    </li>
    <li class="nav-item">
      <a (click)="goToGroups()" routerLinkActive="active" class="nav-link">Mis grupos</a>
    </li>
  </ul>
  <ul class="navbar-nav ms-auto">
    <li class="nav-item">
      <a (click)="logOut()" routerLinkActive="active" class="nav-link">Cerrar sesión</a>
    </li>
  </ul>
</nav>
<nav class="navbar navbar-expand-sm bg-primary navbar-dark" *ngIf="rol == 2">
  <ul class="navbar-nav me-auto">
    <li class="nav-item">
      <a (click)="myDetails(id)" routerLinkActive="active" class="nav-link">Mi perfil</a>
    </li>
    <li class="nav-item">
      <a (click)="goToGroups()" routerLinkActive="active" class="nav-link">Mis grupos</a>
    </li>
  </ul>
  <ul class="navbar-nav ms-auto">
    <li class="nav-item">
      <a (click)="logOut()" routerLinkActive="active" class="nav-link">Cerrar sesión</a>
    </li>
  </ul>
</nav>
</div>