<app-upper-bar></app-upper-bar>

<div class= "col-md-8 offset-md-3">
    
    <div class="form-group">
        <p>Título {{task.title}}</p>
        <p>Enunciado {{task.statement}}</p>            
    </div>

    <div *ngIf = "task.typeIdentity == 2">
        <h3>Equipo anónimo</h3>            
    </div>

    <div class="form-group">
        <label for = "statement">Enunciado</label>
        <textarea id="statement" class="form-control"
            [(ngModel)] = "responseStatement.statement" id = "statement" name = "statement" rows = "3" min = "5" required></textarea>
    </div>

    <div class="form-group" *ngIf = "task.typeTask == 1">
        <label for = "answer">Solución</label>
        <textarea id="answer" class="form-control"
            [(ngModel)] = "responseAnswer.answer" id = "answer" name = "answer" rows = "3" min = "5" required></textarea>
    </div>        

    
    <div *ngIf = "task.typeTask == 2">
        <h3>Solución</h3>
        
        <div class="form-check" *ngFor = "let response of responseAnswers; let i = index" >
            
            
            <input type="checkbox" class="form-check-input" id="correct{{i}}" name = "correct{{i}}" [value] = "" [(ngModel)]= "response.correct" disabled>
            <textarea id="answer{{i}}" class="form-control"
                [(ngModel)] = "response.answer" name = "answer{{i}}" rows = "3" min = "5" required></textarea>
        </div>
    </div>
    <form (ngSubmit) = "onSubmit()">
        <div class="form-group">
            <label>Puntuación</label>
            <input type="number" class="form-control" id="calificationResponse"
                [(ngModel)] = "comment.calificationResponse" name = "calificationResponse" min = "1" max = "5" value= "1" required>
        </div>
        <div class="form-group">
            <label for = "commentText">Comentario</label>
            <textarea id="commentText" class="form-control"
                [(ngModel)] = "comment.commentText" id = "commentText" name = "commentText" rows = "3" min = "5" required></textarea>
        </div>
        <div class="form-group">
            Última modificación: {{comment.time}}
        </div>
        <button class = "btn btn-success" type ="submit">Completar comentario</button>
    </form>
</div> 

<footer class = "py-3 bg-dark text-light">
    <div class = "container">
      <span>Parte inferior</span>
    </div>
</footer>