<div id="page-container">
  <div id="content-wrap">
    <app-upper-bar></app-upper-bar>

    <div class="container">
      <h3>Tarea</h3>
      <table class="table table-striped">
        <tbody>
          <tr>
            <td class="text-center"><b>Título</b></td>
          </tr>
          <tr>
            <td>{{task.title}}</td>
          </tr>
          <tr>
            <td class="text-center"><b>Enunciado</b></td>
          </tr>
          <tr>
            <td>{{task.statement}}</td>
          </tr>
        </tbody>
      </table>

      <div *ngIf="task.typeIdentity == 2">
        <h3>Equipo anónimo</h3>
      </div>
      <div class="container">
        <h3>Respuesta a evaluar</h3>
        <table class="table table-striped">
          <tbody>
            <tr>
              <td class="text-center"><b>Enunciado</b></td>
            </tr>
            <tr>
              <td><textarea id="statement" class="form-control" [(ngModel)]="responseStatement.statement" id="statement"
                  name="statement" rows="3" min="5" disabled></textarea></td>
            </tr>
            <tr>
              <td class="text-center"><b>Solución</b></td>
            </tr>
            <tr>
              <td>
                <div class="form-group" *ngIf="task.typeTask == 1">
                  <textarea id="answer" class="form-control" [(ngModel)]="responseAnswer.answer" id="answer"
                    name="answer" rows="3" min="5" disabled></textarea>
                </div>
                <div *ngIf="task.typeTask == 2">
                  <div class="form-check" *ngFor="let response of responseAnswers; let i = index">
                    <input type="checkbox" class="form-check-input" id="correct{{i}}" name="correct{{i}}" [value]=""
                      [(ngModel)]="response.correct" disabled>

                    <textarea id="answer{{i}}" class="form-control" [(ngModel)]="response.answer" name="answer{{i}}"
                      rows="3" min="5" disabled></textarea>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

     <h3> Completar </h3>
      <form (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label><b>Puntuación</b></label>
          <input type="number" class="form-control" id="calificationResponse" [(ngModel)]="comment.calificationResponse"
            name="calificationResponse" min="1" max="5" value="1" required>
        </div>
        <div class="form-group">
          <label for="commentText"><b>Comentario</b></label>
          <textarea id="commentText" class="form-control" [(ngModel)]="comment.commentText" id="commentText"
            name="commentText" rows="3" min="5" required></textarea>
        </div>
        <div class="form-group">
          <b>Última modificación</b>
        </div>
        <div class="container">
          {{comment.time}}
        </div>
        <button class="btn btn-success" type="submit">Completar comentario</button>
      </form>
    </div>

  </div>
  <app-bottom-bar></app-bottom-bar>
</div>
