<div id="page-container">
  <div id="content-wrap">
    <app-upper-bar></app-upper-bar>

    <div class="col-md-8 offset-md-3">
      <h3> Crear grupo </h3>
      <form (ngSubmit)="onSubmit()">

        <div class="form-group">
          <label>Nombre del grupo</label>
          <input type="text" class="form-control" id="name" [(ngModel)]="group.name" name="name">
        </div>
        <button class="btn btn-success" type="submit">Crear grupo</button>
      </form>
    </div>
  </div>
  <app-bottom-bar></app-bottom-bar>
</div>
