<div id="page-container">
  <div id="content-wrap">
    <app-upper-bar></app-upper-bar>
    <div class="container">
      <h2>Tareas del grupo <b>{{ group.name }}</b></h2>
      <button (click)="newTask(group.id)" class="btn btn-warning" style="margin-left: 10px" *ngIf="rol == 2"> Nueva
        tarea</button>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Título</th>
            <th>Próxima fecha</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let task of tasks">
            <script>
              this.getScheduleTime(task.id)

            </script>
            <td>{{ task.title }}</td>
            <td>{{ task.scheduleTime.presentation }}</td>
            <td>
              <button (click)="updateTask(task.id)" class="btn btn-info" *ngIf="rol == 2"> Ver/Editar</button>
              <button (click)="responseList(task.id)" class="btn btn-secondary" *ngIf="rol == 2"> Lista de respuestas</button>
              <button (click)="createResponse(task.id)" class="btn btn-info" *ngIf="rol == 1"> Crear/Modificar
                respuesta</button>
              <button (click)="goToCommentsList(task.id)" class="btn btn-secondary" *ngIf="rol == 1"> Ver lista de
                reviews</button>
              <button (click)="createResponseFinal(task.id)" class="btn btn-danger" *ngIf="rol == 1"> Crear/Modificar
                respuesta final</button>
              <button (click)="goToCommentsList(task.id)" class="btn btn-danger" *ngIf="rol == 1"> Crear/Modificar
                reviews final</button>
              <button (click)="goToSummary(task.id)" class="btn btn-primary" *ngIf="rol == 1"> Crear/Modificar
                reviews final</button>

              <!--Si no ha llegado el primero -> respuesta || COMPROBAR TBN EN EL PROPIO OCMPONENTE
                        Si pasa primero -> hacer revisiones
                        Si pasa segundo -> respuesta
                        Si pasa tercero -> hacer revisiones

                        Profesor puede editar
                        
                        
                        
                    <button (click) = "deleteGroup(group.id)" class = "btn btn-danger" style ="margin-left: 10px" *ngIf = "rol == 111"> Eliminar</button>
                    <button (click) = "goToTasks(group.id)" class = "btn btn-info" style ="margin-left: 10px"> Tareas</button>
                    <button (click) = "groupDetails(group.id)" class = "btn btn-secondary" style ="margin-left: 10px"> Detalles</button> -->
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
  <app-bottom-bar></app-bottom-bar>
</div>
